*{
	padding:5px;
	margin:10px;
}
body{
	background-color:black;
}

td{
	width:10px;
	height:12px;
}

.blank{
	background-color:black;
}

.snake{
	background-color:gray;
}

.wall{
	background-color:red;
}

.fruit{
	background-color:green;
}